# Core functionality - changes here should be rare!
/src/app.py                   @jimerdiaz
/src/backend/database.py      @jimerdiaz
/src/backend/routers/auth.py  @jimerdiaz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jimerdiaz
